
.address-header-color {
    color: #fff;
    font-size: 16px;
}

.address-footer-color {
    color: #fff;
    font-size: 14px;
}

.address-contact-color {
    color: #000;
}

.address-footer-vd-color {
    color: #000;
    font-size: 14px;
}

.vehicle-location-color {
    color: #000;
}